# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [16]:
import pandas as pd
import numpy as np

#Primeiro, vamos criar a lista de dados:
anomalia_termica_lista = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

#Agora, vamos criar a série a partir da lista:
anomalia_termica_serie = pd.Series(anomalia_termica_lista)
print("A série do Pandas a partir da lista de dados da NASA, fica:\n", anomalia_termica_serie, sep='')

A série do Pandas a partir da lista de dados da NASA, fica:
0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [19]:
#Com a série já pronta, vamos criar uma lista com os anos como índices:
anos_index = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

#Finalizando a série completa com índices:
anomalia_termica_serie = pd.Series(anomalia_termica_lista,index=anos_index)
print('A série de dados da NASA com índices, fica:\n', anomalia_termica_serie, sep='')

A série de dados da NASA com índices, fica:
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [21]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

#A partir do dicionário acima, vamos criar a série:
serie_temperaturas = pd.Series(dic_temperaturas)

print('A série fica:\n',serie_temperaturas, sep='')

A série fica:
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [23]:
arr = np.random.normal(100, 10, (20,3))

#Convertendo o ndarray em um DataFrame:
print('O ndarray convertido em um DataFrame, fica:\n', pd.DataFrame(arr), sep='')

O ndarray convertido em um DataFrame, fica:
             0           1           2
0    77.077295   99.766040  111.911936
1   103.019439  115.026640   87.463789
2   101.001891   83.842526  107.649663
3   100.933114  116.875920   98.659958
4   119.024113  105.653736   95.071500
5    95.538617   79.152186   90.561165
6    93.295282  106.014242  101.644674
7    97.775523  103.306568   96.017906
8   112.891944  101.594383   92.412883
9   101.324072  102.485705   98.351583
10  122.473260   84.650198  110.424582
11  108.642153  112.012176  104.824624
12  106.346285  111.475092   75.355193
13   83.473678  108.438238  103.109465
14  104.589090  116.545691   93.423501
15  110.899561  104.401576   98.541411
16   85.616827   96.389642  104.758460
17   93.274064  103.153665   94.848131
18   91.192240   96.044080  101.339692
19  110.418593  120.032339  113.915447

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [35]:
#Incluindo índices e nomes de colunas:
df= pd.DataFrame(arr, 
                  index=range(1, 21), # Índices de 1 a 20
                  columns=['x1', 'x2', 'x3']) # Nomes das colunas
print('O DataFrame com as colunas nomeadas, fica:\n', df, sep='')

O DataFrame com as colunas nomeadas, fica:
            x1          x2          x3
1    77.077295   99.766040  111.911936
2   103.019439  115.026640   87.463789
3   101.001891   83.842526  107.649663
4   100.933114  116.875920   98.659958
5   119.024113  105.653736   95.071500
6    95.538617   79.152186   90.561165
7    93.295282  106.014242  101.644674
8    97.775523  103.306568   96.017906
9   112.891944  101.594383   92.412883
10  101.324072  102.485705   98.351583
11  122.473260   84.650198  110.424582
12  108.642153  112.012176  104.824624
13  106.346285  111.475092   75.355193
14   83.473678  108.438238  103.109465
15  104.589090  116.545691   93.423501
16  110.899561  104.401576   98.541411
17   85.616827   96.389642  104.758460
18   93.274064  103.153665   94.848131
19   91.192240   96.044080  101.339692
20  110.418593  120.032339  113.915447

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [38]:
#Para garantir que a média será calculada independente da quantidade de colunas, vamos usar a função "mean":
df['media'] = df.mean(axis=1) #O argumento axis=1 diz ao Pandas para calcular a média por linha
print('O DataFrame com a coluna de média, fica:\n', df, sep='')

O DataFrame com a coluna de média, fica:
            x1          x2          x3       media
1    77.077295   99.766040  111.911936   96.251757
2   103.019439  115.026640   87.463789  101.836623
3   101.001891   83.842526  107.649663   97.498026
4   100.933114  116.875920   98.659958  105.489664
5   119.024113  105.653736   95.071500  106.583116
6    95.538617   79.152186   90.561165   88.417323
7    93.295282  106.014242  101.644674  100.318066
8    97.775523  103.306568   96.017906   99.033332
9   112.891944  101.594383   92.412883  102.299737
10  101.324072  102.485705   98.351583  100.720453
11  122.473260   84.650198  110.424582  105.849346
12  108.642153  112.012176  104.824624  108.492984
13  106.346285  111.475092   75.355193   97.725523
14   83.473678  108.438238  103.109465   98.340460
15  104.589090  116.545691   93.423501  104.852760
16  110.899561  104.401576   98.541411  104.614183
17   85.616827   96.389642  104.758460   95.588310
18   93.274064  103.153665   94.848131   97.091953
19   91.192240   96.044080  101.339692   96.192004
20  110.418593  120.032339  113.915447  114.788793

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [41]:
# Cria a nova coluna 'log_med' com o logaritmo natural da coluna 'media'
df['log_med'] = np.log(df['media'])

print('O DataFrame com a coluna de logaritmo natural, fica:\n', df, sep='')

O DataFrame com a coluna de logaritmo natural, fica:
            x1          x2          x3       media   log_med
1    77.077295   99.766040  111.911936   96.251757  4.566967
2   103.019439  115.026640   87.463789  101.836623  4.623370
3   101.001891   83.842526  107.649663   97.498026  4.579832
4   100.933114  116.875920   98.659958  105.489664  4.658613
5   119.024113  105.653736   95.071500  106.583116  4.668925
6    95.538617   79.152186   90.561165   88.417323  4.482068
7    93.295282  106.014242  101.644674  100.318066  4.608346
8    97.775523  103.306568   96.017906   99.033332  4.595456
9   112.891944  101.594383   92.412883  102.299737  4.627907
10  101.324072  102.485705   98.351583  100.720453  4.612349
11  122.473260   84.650198  110.424582  105.849346  4.662017
12  108.642153  112.012176  104.824624  108.492984  4.686686
13  106.346285  111.475092   75.355193   97.725523  4.582163
14   83.473678  108.438238  103.109465   98.340460  4.588436
15  104.589090  116.545691   93.423501  104.852760  4.652557
16  110.899561  104.401576   98.541411  104.614183  4.650279
17   85.616827   96.389642  104.758460   95.588310  4.560051
18   93.274064  103.153665   94.848131   97.091953  4.575659
19   91.192240   96.044080  101.339692   96.192004  4.566346
20  110.418593  120.032339  113.915447  114.788793  4.743094